<footer class="container-fluid page-footer font-small bg-secondary pt-4">
	<div class="row">

			<div class="col-md-12 d-flex justify-content-center">
				<h4 class="text-white">Siga-nos nas redes sociais</h4>
			</div>



			<div class="col-md-12 d-flex justify-content-center">
				<ul class="social-network">
					<li><a href="https://www.facebook.com/generationbrasil/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
					<li><a href="https://www.instagram.com/generationbrasil/?hl=pt-br" target="_blank"><i class="fab fa-instagram"></i></a></li>
					<li><a href="https://www.linkedin.com/school/generationbrasil/mycompany/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
				</ul>
			</div>


		<div class="col-md-12 footer-copyright bg-dark text-center py-3">
			<span class="text-light"> © 2021 Copyright : </span>
			<a href="http://brasil.generation.org" target="_BLANK" class="text-light t-d-none t-d-hover">brasil.generation.org</a>
		</div>
	</div>
</footer>
