<div class="container-fluid">
<footer class="row page-footer font-small bg-reality pt-4">

			<div class="col-12 d-flex justify-content-center text-center">

				<h4 class="text-white">Continue acompanhando meus trabalhos:</h4>
			</div>



			<div class="col-12 d-flex justify-content-center">
				<ul class="social-network">
					<li><a href="https://www.linkedin.com/in/argel-capela-dos-santos-096411203" target="_blank"><i class="fab fa-linkedin"></i></a></li>
					<li><a href="https://www.instagram.com/argelcapela/" target="_blank"><i class="fab fa-instagram"></i></a></li>
					<li><a href="https://github.com/argelcapela" target="_blank"><i class="fab fa-github"></i></a></li>
				</ul>
			</div>


		<div class="col-12 d-flex justify-content-center footer-copyright bg-reality-2 text-center py-3">
			<span class="text-light"> © 2021 Copyright :  </span>
			<a href="http://argelcapela.rf.gd" target="_BLANK" class="text-light t-d-none t-d-hover ml-2 h-red-light" > argelcapela.com</a>
		</div>
</footer>
</div>
