<div class="row  d-flex align-items-center">
	<div class="col-md-6 bg-cadastrar" ></div>
	<div class="col-md-6">
		<div class="row d-flex justify-content-center">
			<div class="col-md-6">
				<h1 class="text-center mb-3">Cadastro</h1>

				<div class="form-group mt-3 mb-3">
					<label for="nome">Nome</label>
					<input class="form-control" type="text" name="nome" id="nome" placeholder="">
				</div>
				<div class="form-group mt-3 mb-3">
					<label for="usuario">Usuário</label>
					<input class="form-control" type="text" name="usuario" id="usuario" placeholder="">
				</div>
				<div class="form-group mt-3 mb-3">
					<label for="linkFoto">Link da Foto</label>
					<input class="form-control" type="text" name="linkFoto" id="linkFoto" placeholder="">
				</div>
				<div class="form-group mt-3 mb-3">
					<label for="bio">Biografia</label>
					<input class="form-control" type="text" name="bio" id="bio" placeholder="">
				</div>
				<div class="form-group mt-3 mb-3">
					<label for="usuario">Senha</label>
					<input class="form-control" type="text" name="senha" id="senha" placeholder="">
				</div>
				<div class="form-group mt-3 mb-3">
					<label for="cosenha">Confirmar Senha</label>
					<input class="form-control" type="text" name="cosenha" id="cosenha" placeholder="">
				</div>


				<div class="d-flex justify-content-center mt-3">
					<button type="submit" class="btn btn-success">Cadastrar</button>
				</div>
			</div>
		</div>



	</div>

</div>
