/* You can add global styles to this file, and also import other style files */

html
{
	scroll-behavior: smooth;
}

.fs-54{
	font-size: 54pt;
}

.fs-18{
	font-size: 18pt;
}

/* UNIVERSAL COLORS */
.bg-reality{background-color:#c21b12;}
.bg-reality-2{background-color:#9a151a;}
.btn-dark{background:black;color:white;}
.text-dark{color:black;}
.text-red{color:red;font-weight:bold;}
.h-red-light:hover{color:#fc4b2a !important;}
